.parentContainer {
    display: flex;
    flex-direction: column;
    width:100%;
    height:100%;
    position: fixed;
}

.toggle {
    position: absolute;
  top: 12px;           /* align vertically with navbar padding */
  left: 50%;
  transform: translateX(-50%);
  background: black;
  padding: 4px 8px;
  border-radius: 20px;
  display: flex;
  gap: 6px;
  z-index: 10;
}

.query, .execution {
    color: #ffffff;
    background: transparent;
    border: none;
    cursor: pointer;
}


.activeButton {
    background-color: #007bff;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 14px;
  
}

.query {
    margin-left:4px;
}

.queryPanel {
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: space-between;
}

.queryExecutionPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.queryPanel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.executionBox {
    width:100%;
    height:50vh;
    border-radius: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.096);
}


.queryBorder {
    border-top: 1px solid rgba(255, 255, 255, 0.089);
    border-radius: 1px;
}

.executionBorder {
    border-top: 1px solid rgba(255, 255, 255, 0.089);
    border-radius: 1px;
}

.queryHeader, .executionHeader {
    color: #ffffffef;
    margin-left: 10px;
    font-family: sans-serif;
}

.inputBox {
    margin-right:1.5rem;
}