.parentContainer {
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    padding-top: 1rem;
}

.queryExecutionBox {
    border-radius: 8px;
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: row;
    background: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.089);
    border-top: 1px solid rgba(255, 255, 255, 0.089);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
    border-right: 1px solid rgba(255, 255, 255, 0.089);
    border-radius: 6px;
    overflow: hidden;
}

.inputBox {
   margin-top: 38rem;
    position: sticky;
    bottom: 0;
    padding: 10px;
    padding-bottom: 1rem;
}

.executionBox {
    flex: 1;
    border-radius: 1px;
    border-left: 1px solid rgba(255, 255, 255, 0.096);
   
}

.queryBorder {
    border-top: 1px solid rgba(255, 255, 255, 0.089);
    border-radius: 1px;
}

.executionBorder {
    border-top: 1px solid rgba(255, 255, 255, 0.089);
    border-radius: 1px;
}

.queryHeader, .executionHeader {
    color: #ffffffef;
    margin-left: 10px;
    font-family: sans-serif;
}

.messagesArea {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
     word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    scroll-behavior: smooth;
}