:root {
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    height: 100%;
}