.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.zora {
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  margin-top: 8px;
  margin-left: 18px;
  text-decoration: none;
}

.agents {
  height: 26px;
  background: transparent;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-family: sans-serif;
  display: inline-flex;  
  align-items: center;    
  justify-content: center; 
  box-sizing: border-box;  
}

.agents:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.navRight {
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 768px) {

  .zora {
    font-size: 20px;
  }

  .agents {
    font-size: 14px;
  }
}
