.navbar {
    display: flex;
    justify-content: space-between;
}

.zora {
  color: white;
  font-family: sans-serif;
  font-size: 24px;
  margin-top:8px;
  margin-left:14px;
  text-decoration: none;
}

.signin {
  background-color:deepskyblue;
  color:white;
  font-size: 14px;
  border-radius: 15%;
  padding-left: 12px;
  padding-right:12px;
  padding-top:8px;
  padding-bottom: 8px;
  text-decoration: none;
  font-family: sans-serif;
}

.agents {
  background: transparent;
  color:#ffffffe8;
  text-decoration: none;
  font-family: sans-serif;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.navRight {
  display: flex;
  gap: 1rem;
}