.parentContainer {
    border-radius: 8px;
    padding: 16px;
    width: 330px; 
    height: 250px; 
    display: flex;
    flex-direction: column;
    color: white; 
    cursor: pointer;
    margin: 10px; 
    border: 0.5px solid rgba(255, 255, 255, 0.452);
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
  
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border-radius: 4px;
}

.title {
    font-size: 15px;
    flex-grow: 1; 
    font-family: sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.liveBadge {
    background-color: #e50914; 
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 10px;
}

.outcomes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin-bottom: 10px;
}

.outcomeRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    border-radius: 6px;
    font-size: 0.9em;
}

.outcomeTitle {
    font-weight: 400;
    color: #cccccc;
}

.priceContainer {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
}

.yesPercent {
    color: white;
    margin-right: 5px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto; 
    padding-top: 10px;
}

.volume {
    font-size: 0.8em;
    color: #888;
    font-weight: 500;
}