.parentContainer {
    border-radius: 8px;
    padding: 16px;
    height: 210px; 
    display: flex;
    flex-direction: column;
    color: white; 
    cursor: pointer;
    border: 0.1px solid rgba(255, 255, 255, 0.37);
    background-color: #0f0e0e;
    margin-top: 15px;
}

.parentContainer:hover {
  border: 0.6px solid #3366FF
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    font-size: 0.9rem;
    font-weight:700;
    line-height:1.3; 
    font-family: sans-serif;
    color: #fff;
}

.liveBadge {
    background-color: #e50914; 
    color: white;
    font-size: 0.75em;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 4px;
    margin-left: 10px;
}

.outcomes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin-bottom: 10px;
}

.outcomeRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    border-radius: 6px;
    font-size: 0.9em;
}

.outcomeTitle {
    font-weight: 400;
    color: #fff;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
}

.priceContainer {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: 600;
}

.yesPercent {
    color: rgba(255, 255, 255, 0.705);
    margin-right: 5px;
    font-size:0.8rem;
    font-weight:600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer {
    display: flex;
    justify-content: flex-start;
    margin-top: auto; 
    padding-top: 1px;
}

.volume {
    font-size: 0.8em;
    color: #888;
    font-weight: 500;
}