.parentContainer {
    height: 93vh;
    width: 22vw;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10rem;
    margin-left: 1rem;
}

.chat, .agents, .history {
    color: #fafafae1;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.chat {
    background-color: #007bff;
    padding-right: 13px;
    padding-left: 7px;
    padding-top:3px;
    padding-bottom: 3px;
    border-radius: 6px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    margin-right:18rem;
    gap: 1rem;
}