.parentContainer {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    height: 93vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    overflow-y: auto;
    margin-top: 6px;
}

.childContainer {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
    gap: 0.5rem
}

.miniHeader {
    border: 1px solid rgba(255, 255, 255, 0.781);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.842);
    font-size: 12px;
    letter-spacing: 1px;
    padding: 8px 18px;
    text-transform: uppercase;
    font-family: sans-serif;
    margin-bottom: 0.7rem;
    margin-right: 5px;
}

.mainHeader {
    color: #FFFFFF;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: -0.5px;
    margin: 0
}

.foot {
    color: #CCCCCC;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: -0.2px;
    margin: 0;
    line-height: 1.2
}

.trade {
    color: #FFFFFF;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    font-size: 35px;
    letter-spacing: -0.5px;
}

@media (max-width: 630px) {
    .mainHeader {
        font-size: 30px;
    }

    .trade {
        font-size: 30px;
    }

    .foot {
        font-size: 0.9rem;
    }
}

@media (max-width: 560px) {
    .mainHeader {
        font-size: 25px;
    }

    .trade {
        font-size: 25px;
    }

    .foot {
        font-size: 0.9rem;
    }

    .miniHeader {
        font-size: 10px;
    }
}

@media (max-width: 465px) {
    .mainHeader {
        font-size: 20px;
    }

    .trade {
        font-size: 20px;
    }

    .foot {
        font-size: 0.8rem;
    }
}

@media (max-width: 430px) {
    .mainHeader {
        font-size: 18px;
    }

    .trade {
        font-size: 18px;
    }

    .foot {
        font-size: 0.8rem;
    }

    .miniHeader {
        font-size: 10px;
    }
}

@media (max-width: 390px) {

    .mainHeader {
        font-size: 18px;
    }

    .trade {
        font-size: 18px;
    }

    .foot {
        font-size: 0.75rem;
    }

    .miniHeader {
        font-size: 10px;
        ;
    }
}

@media (max-width: 360px) {

    .miniHeader {
        font-size: 8px;
    }

    .mainHeader {
        font-size: 17px;
    }

    .foot {
        font-size: 0.6rem;
    }
}

@media (max-width: 350px) {

    .miniHeader {
        font-size: 8px;
    }

    .mainHeader {
        font-size: 15px;
    }

    .foot {
        font-size: 0.6rem;
    }
}