.parentContainer {
    margin-top: 7px;
    display: flex;
    flex-direction: row;
}

.queryExecutionBox {
    border-radius: 8px;
    height: 93vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: transparent;
    border-left: 1px solid rgba(255, 255, 255, 0.116);
    border-top: 1px solid rgba(255, 255, 255, 0.068);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
    border-right: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 6px;
}

.inputBox {
    margin-top: 42rem;
    width: 20%;
}

.executionBox {
    flex: 1;
    border-radius: 1px;
}


.queryBorder {
    border-top: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 1px;
}

.executionBorder {
    border-top: 1px solid rgba(255, 255, 255, 0.068);
    border-radius: 1px;
}

.queryHeader, .executionHeader {
    color: #ffffffef;
    margin-left: 7px;
    font-family: sans-serif;
}