.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 350px;
}

.header {
    color: #eff0eff3;
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    margin-left:7px;
    font-weight:700;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

.searchContainer {
    width: 100%;
    max-width: 1200px;
    padding-top: 3px;
    padding-bottom: 3px;

}

.search {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.932);
    border: 1px solid rgba(255, 255, 255, 0.11);
    padding-right: 50px;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    color: white
}

.search:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.082);
}

.searchBar {
    display: flex;
    flex-direction: row;
}

.categoryButton {
    background-color: #222;
    color: #ccc;
    border: none;
    padding: 1px 3px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9em;
}

.active {
    background-color: #007bff; 
    color: white;
    font-weight: bold;
}

.eventCategories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left:5px;
    padding-bottom: 10px;
    margin-top:12px;
}

.eventsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 14px; 
    width:75%;
}