.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 350px;
}

.header {
    color: #d1d6d4;
    font-size: 18px;
    font-family: sans-serif;
}

.searchContainer {
    width: 100%;
    max-width: 1200px;
    padding-top: 3px;
    padding-bottom: 3px;

}

.search {
    margin-top: 20px;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding-right: 50px;
    width: 100%;
    padding: 10px 20px;
    font-size: 12px;
    color: white
}

.search:focus {
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);

}

.searchBar {
    display: flex;
    flex-direction: row;
}

.categoryButton {
    background-color: #222;
    color: #ccc;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9em;
}

.active {
   background-color: #007bff; 
    color: white;
    font-weight: bold;
}

.eventCategories {
   display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.eventsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
    padding-top: 20px;
}