.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-right: 50px;
}

.header {
    color: #eff0eff3;
    font-size: 18px;
    font-weight: 700;
    margin-left: 7px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.searchContainer {
    width: 100%;
    max-width: 1100px; 
    padding-top: 3px;
    padding-bottom: 3px;
}

.searchBar {
    display: flex;
    align-items: center;       
    width: 100%;
    background-color: #000;    
    border: 1px solid #161616;   
    border-radius: 6px;       
    padding: 8px 10px;       
    margin-top: 20px;
    transition: border-color 0.2s ease;
}

.searchBar:focus-within {
    border-color: #1a1a1a;        
}

.leftIcon {
    display: flex;
    align-items: center;
    color: #666;               
    margin-right: 12px;        
}

.search {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 13px;
    width: 100%;
    outline: none;
    flex-grow: 1;              
}

.search::placeholder {
    color: #5e5d5d;              
}

.rightBtn {
  background: transparent;
  border: none;
  outline: none;
  color: #9c9898;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  transition: color 0.2s;
  transform: rotate(45deg);
}

.rightBtn:hover {
  color: #fff; 
}

.categoryButton {
    background-color: #222;
    color: #ccc;
    border: none;
    padding: 1px 3px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9em;
}

.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 20px;
}

.eventCategories {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 5px;
    padding-bottom: 10px;
    margin-top: 12px;
}

.eventsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    width: 75%;
}

.searchButton {
    background: transparent;
    color: #aaa;
    border: none;
    cursor: pointer;
    margin-right: 7rem;
    transition: background 0.2s, color 0.2s;
    margin-top: 1.3rem;
    margin-right: 2rem;
}

.submit {
    background: transparent;
    border: none
}

.noEvent {
    color: #fff;
    font-family: sans-serif;
    
}

@media (max-width: 768px) {

  .container {
    margin: 0;
    padding: 0 12px;
  }

  .eventsGrid {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .eventCategories {
    margin-left: 10px;
  }

  .header {
    margin-top: 25px;
    font-size: 16px;
  }

  .active {
    font-size: 10px;
  }

  .categoryButton {
    font-size: 13px;
  }
 .rightBtn {
    margin-right: 10px;
 }
 
 .searchContainer {
    width: 90%;
 }
}
